<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css" />

</head>
<body>
    <header>
  
    </header>

    <div id="page-wrapper">

      <h1>Image File Reader</h1>
      <div>
        Select an image file: 
        <input type="file" id="fileInput">
      </div>

      <div>
        <label for="quantity">Quantity (between 2 and 8):</label>
        <input type="number" id="number" name="quantity" min="2" max="8">
      </div>
      <div id="fileDisplayArea"></div>
      <script src="imageGetter.js"></script> 
    </div>

    <form action = "/cgi-bin/test.py" method = "get">
      Number of Colors: <input type = "number" name = "colors"> <br />
      <input type = "submit" value = "Submit" />
      </form>

<footer class="footer">
    <div class="container p-4">
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Designed By: Alyssa Hoshor © 2022
    </div>
  </footer>

  
</body>

</html>


{{ form.image|add_label_class:"block mb-2 text- sm font-medium text-gray-900 dark:text-white"}}
            {% render_field form.image class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-popinter bg-gray-50 dark:text-gray-400 focus:outline-none dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" %}





            {% extends "base.html" %}

{% block content %}
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a class="text-blue-600 tracking-normal mb-4" href="{% url 'home' %}">Add an image!</a>
    <div>
        
    </div>
    {% for image in images %}
    <div class="flex justify-between items-center mb-4">
        <div>
            <img class="w-full" src="{{ image.image.url }}" alt="{{ image.name }}"></img>
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ image.name }}</div>
                <p>
                    Size(bytes): {{ image.size}}<br>
                    Width: {{ image.width}}<br>
                    Height: {{ image.height}}<br>
                    Colors: {{ image.numberOfColors}}
                </p>
                {% if color_html_content %}
                <div>
                    <p>Color HTML Content:</p>
                    {{ color_html_content | safe }}
                </div>
                {% endif %}
                {% if image.processed_image %}
            <div>
                <img class="w-full" src="{{ image.processed_image.url }}" alt="{{ image.name }} Processed"></img>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ image.name }} Processed</div>
                </div>
            </div>
        {% endif %}
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}



async def color_info(request, pk):

    print("inside color_info view function")
    # Handle GET request to render the template
    image = await sync_to_async(get_object_or_404)(Image, pk=pk)
    image_data = image.processed_image.read()
    image_path = os.path.join(settings.MEDIA_ROOT, str(image.processed_image))
    palette_image = await generate_palette(image_path)
    print("palette image received")

    # Print palette image data for debugging
    print("Palette image shape:", palette_image.shape)
    print("Palette image values:", palette_image)


    context = {
        'image': image,
        'palette_image': palette_image,
    }

    
    return render(request, 'color_info.html', context)