{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Color Information {% endblock %}
{% block content %}

<h1>Random Image</h1>

    {% if processed_image_url %}
    <div>
        <img src="{{ processed_image_url }}" alt="Processed Image">
    </div>
    {% endif %}

    {% if book_image %}
    <div>
        <img src="{{ book_image }}" alt="Book Cover Image">
    </div>
    {% endif %}

    <div id="color-container" class="flex flex-wrap">
        {% for color in colors %}
            <div class="w-24 h-24 mr-4 mb-4 rounded-lg shadow-md" style="background-color: rgb({{ color.0 }}, {{ color.1 }}, {{ color.2 }});"></div>
        {% endfor %}
    </div>

{% endblock %}