{% extends "base.html" %}

{% block content %}
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a class="text-blue-600 tracking-normal mb-4" href="{% url 'home' %}">Add an image!</a>
    {% for image in images %}
    <div class="flex justify-between items-center mb-4">
        <div>
            <img class="w-full" src="{{ image.image.url }}" alt="{{ image.name }}"></img>
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ image.name }}</div>
                <p>
                    Size(bytes): {{ image.size}}<br>
                    Width: {{ image.width}}<br>
                    Height: {{ image.height}}<br>
                    Colors: {{ image.numberOfColors}}
                </p>
            </div>
        </div>
        {% if image.processed_image %}
        <div>
            <img class="w-full" src="{{ image.processed_image.url }}" alt="{{ image.name }} Processed"></img>
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ image.name }} Processed</div>
                <!-- You can display additional information about the processed image if needed -->
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}